Flask==1.0.3
Flask-RESTful==0.3.7
httpie==1.0.3
Flask-SQLAlchemy==2.4.0
Flask-Migrate==2.5.2
passlib==1.7.1
config~=0.5.0.post0
extensions~=0.4
pymorphous~=0.1.0
Flask-JWT-Extended == 3.20.0
marshmallow==2.19.5
webargs==5.4.0
